<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_login.css" media= screen>

    <title>escolha</title>
   
        <body>
            <div class="main_cadastro">
                <div class="card">
                <h1 class="titulo_1">ESCOLHA SEU <br> CADASTRO</h1>
                <form action="/cadastro_emp">
                    <button class="btn-empresa">
                        <a >Empresa
                        </a>   
                        
                   
                    </button>
                </form>
                
                <form action="/cadastro_esta">
                    <button class="btn-estagiario">
                        <a>Estagiário
                        </a>
                    </button>
                </form>
           
            
            </div>
        </div>
    </body>
</html>
