<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_login.css">
    <title>esqueceu_e-mail</title>
</head>
<body>
    <div class="main">
        <div class="card">
            <h1><strong>Esqueceu a sua senha?</strong> <br> nova senha</h1>
        <div class="textfield">
            <label for="e-mail">E-mail:</label>
            <input type="text" nome="e-mail" placeholder="Digite o seu e-mail">
        </div>
        <button class="btn">Enviar</button>
        </div>
    </div>
</body>
</html>