
 <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_login.css">
    <title>escolha</title>
</head>
<body>
    <div class="main">
        <div class="card">
            <h1 class="vc_e">Você é?</h1>
            <button class="btn-cad_empr">
                <a class="botao_empr"   href="/cadastro_empr"> Empresa 
                    <a href="#">
                        <img src="/static/seta.png" alt="Seta" height="20" width="20">
                    </a>
                </a>
            </button>
            <h1 class="espaco"></h1>
            <button class="btn-cad_esta">
                <a href="/cadastro_esta">Estagiário
                    <a href="#">
                        <img src="/static/seta.png" alt="Seta" height="20" width="20">
                </a>
            </button>
        </div>
    </div>
</body>
</html>
