<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_login.css">
    <title>esqueceu_senha</title>
</head>
<body>
    <div class="main">
        <div class="card">
            <h1><strong>Cadastre-se</strong> <br> novo estagiário</h1>
        <div class="textfield">
            <label for="nova_senha">Nova Senha:</label>
            <input type="text" nome="nova_senha" placeholder="Digite a sua nova senha">
        </div>
        <div class="textfield">
            <label for="conf_senha">Confirmação de Senha:</label>
            <input type="text" nome="conf_senha" placeholder="Confirme a sua nova senha">
        </div>
        </div>
    </div>
</body>
</html>