<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_login.css">
    <title>Login</title>
</head>
<body>
    <div class="main">
        <div class="card">
            <button class="btn-cad_esq">
                <a href="/cadastro" target="_blank">Cadastre-se</a>
            </button>
            <h1><strong>Faça o seu Login</strong></h1>
            <form action="/login" method="post">
                <div class="textfield">
                <label class="titulo">usuario:</label>
                <input type="text" name="login" placeholder="Usuario">
            </div>
            <div class="textfield">
                <label class="titulo">Senha:</label>
                <input type="password" name="senha" placeholder="Digite a sua senha">
            </div>
            <button class="btn-login" type="submit">
                <input type="submit" value="login" id="botao-entrar">
            </button>
            </form>
            <button class="btn-cad_esq">
                <a href="/esqueceu" target="_blank">Esqueceu a sua senha?</a>
            </button>
            {% extends 'base.html' %}
            {% block flash_mensage %}
            {% endblock %}
        </div>
    </div>
</body>
</html>